<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>corazon1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>corazon1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>corazon2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>corazon2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>corazon3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>corazon3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,420},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>corazon4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,420},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>corazon4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,420},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>corazon_muerto.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heart.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c989f6513249428b23a3c7200865f1bb$</string>
            <key>textureFileName</key>
            <string>heart.png</string>
        </dict>
    </dict>
</plist>
